@model IEnumerable<CCB.Web.Models.Extrato>

@{
    ViewData["TituloSaldo"] = "Saldo";
    var credito = Model.Where(extrato => extrato.Tipo == 1).Sum(extrato => extrato.Valor);
    var debito = Model.Where(extrato => extrato.Tipo == 2).Sum(extrato => extrato.Valor);
    ViewData["ValorSaldo"] = credito - debito;
}

<h1 align="center">@ViewData["TituloSaldo"]</h1>
<h1 align="center">@string.Format("{0:c}", ViewData["ValorSaldo"])</h1>

<table class="table" align="center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Historico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="color:@Html.DisplayFor(modelItem => item.CorTipoMovimentacao)">
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Historico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMovimentacao)
            </td>
        </tr>
    }

</table>

<div align="center">
    <a asp-controller="Extratos" asp-action="Deposito" class="btn btn-primary">Depósito</a>
    <a asp-controller="Extratos" asp-action="Retirada" class="btn btn-primary">Retirada</a>
    <a asp-controller="Extratos" asp-action="Pagamento" class="btn btn-primary">Pagamento</a>
</div>